boto3==1.4.4
cassandra-driver==2.7.1
data_hacks
kafka-python==0.9.3
mock
numpy>=1.8.0
placebo==0.8.1
psycopg2==2.5.3
python-dateutil
pyyaml>=4.2b1
redis==2.10.5
requests>=2.13.0
riemann-client==6.1.2
selenium>=2.48.0
ujson==5.4.0
unittest-xml-reporting
# pip install -r requirements.txt
